<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922885525329-7njmck9dj4l2fkjvhi98vfdr7h0t44ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922885525329-7njmck9dj4l2fkjvhi98vfdr7h0t44ro</string>
	<key>API_KEY</key>
	<string>AIzaSyC0GUt-z-AfD4FItXrX6zcM0anF_TMvjCI</string>
	<key>GCM_SENDER_ID</key>
	<string>922885525329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yoony.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-4481d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-4481d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922885525329:ios:c8322d60a8ed33215d4d70</string>
</dict>
</plist>
